{% extends "base.html.twig" %} 
{% block content %} 
    <div class="download">
        <p>Nom de fichier : {{ file }}</p>
        <a class="desti-page btn btn-danger" href="{{ url('upload/') }}{{ file }}" download="{{ file }}">Télécharger</a><br>
        <p>Le message de l'uploadeur: {{ message }}</p>
        <a class="desti-page btn btn-danger" href="../delete/{{ idFile }}">supprimer le fichier</a>
    </div>
{% endblock %}