{% extends "base.html.twig" %} 
{% block content %}
    <p>Nom de fichier : {{ file }}</p>
    <a href="upload/{{ file }}" download="{{ file }}">Télécharger</a><br>
    <p>Le message de l'uploadeur: {{ message }}</p>
    <a href="../delete/{{ idFile }}">supprimer le fichier</a>
{% endblock %}