{% extends "base.html.twig" %} 

{% block content %}
    <div class="row">
        <form  class="col-lg-5" method="POST" action="{{ url('file/add') }}" enctype="multipart/form-data" id="upload_form">

            <!--<input type="file" name="uploaded_file" id="uploaded_file" onchange="uploadFile()">-->

            <fieldset id="conteneurFile">
            <input id="input_text_file" name="uploaded_file" class="inputText" readonly="readonly" type="text" placeholder="Nom du fichier..."/>
            <input onmousedown="return false" onkeydown="return false" class="inputFile" onchange="document.getElementById('input_text_file').value = this.value; uploadFile()" type="file" name="uploaded_file" id="uploaded_file"/> 
            <span>Parcourir</span> 
            </fieldset>
            
            <input type="text" name="recipient_email" class="form-control" placeholder="Email du destinataire...">
            <input type="text" name="creator_email" class="form-control" placeholder="Email de l'emetteur... (Optionnel)">

            <input type="text" name="creator_message" class="form-control" placeholder="Votre message...">

            <input type="submit" id="btnClick" class="form-control btn-success"  onclick="changer()" value="Envoyer">
        </form>
        <div class="col-lg-2"></div>
        <div id="changeTest" class="boxcontainer_success col-lg-5">
            <div id="success">
                <center><img class="lolgo" src="../assets/img/Logo.svg" alt="logo" style="width:400px;"></center>
                <h2>Fichier transféré avec succès</h2>
                <center><img src="../assets/img/letter.svg"></img></center>
                <p> Lien du fichier: </p>
                <a href="{{ url('files/download_page/') }}{{ idFile }}">{{ url('files/download_page/') }}{{ idFile }}</a>
            </div>
            <div id="loading" style="display: none;">
                <div id="progressBar" class="progress progress-bar progress-bar-striped progress-bar-animated bg-warning"  value="0" max="100" style="width:100%">
                </div>
                <h3 id="status"></h3>
                <p id="loaded_n_total"></p>
            </div>
        </div>
    </div>
    <script src="assets/js/main.js" type="text/javascript"></script>
{% endblock %}